/* overrarching styles */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #F5F5F5;
}

h1, h2, h3, h4, p, ol {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-decoration: none;
}

/* header stylings begin*/

header {
  background-color: #718798;
  height: 75px;
}

header nav ul {
  list-style-type: none;
}

header nav, a {
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-decoration: none;
}

header nav li {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
  margin: 15px;
  font-weight: 600;
  font-size: 20px;
}

header p {
  float: left;
  padding-left: 15px;
  padding-top: 10px;
}

a:hover {
  color: #E76F51;
}

/* section 1 <article> stylings */

main > article {
  padding-bottom: 20px;
  margin-bottom: 60px;
}

main img {
  width: 250px;
  float: left;
  border-radius: 10px;
  margin: 25px;
}

main > article h1 {
  text-align: center;
  padding-top: 35px;
}

main article p {
  text-align: center;
}

/* About me styling */

article h3 {
  text-align: center;
}

hr {
  margin-left: 125px;
  margin-right: 125px;
}

/* footer styling */

footer {
  color: white;
  text-align: center;
  background-color: #718798;
  height: 50px;
  padding-top: 5px;
}

/* classes */

.about {
  background-color: #3FACCA;
  color: white;
}

p.left-align {
  text-align: left;
  padding-left: 20px;
  padding-right:20px;
  padding-bottom: 20px;
}

h2.left-align {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}

.btn {
  background-color: #3FACCA;
  color: white;
  display: inline-block;
  margin: 10px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  list-style-type: none;
  text-align: center;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-decoration: none;
}

li.btn {
  padding-top: 15px;
  font-weight: 600;
  margin: 25px;
}

div.menu {
  text-align: center;
}

.center {
  text-align: center;
  padding-top: 20px;
}

.center-list {
  text-align: center;
  list-style-position: inside;
}

.section-bottom {
  padding-bottom: 25px;
}
